
# Copernicus datasets
*.zip

# Copernicus configuration file
.cdsapirc

# NetCDF files
*.nc

# GIS files
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
*.gpkg
*.sbn
*.sbx
*.shp.xml

# Python artifacts
__pycache__/
.pytest_cache/